<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content padding>
 
<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
<ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list>    
    
     <ion-list>
     
  <ion-item  *ngFor = "let current of result"> 
    
    <ion-thumbnail item-start>
      <img src="http://via.placeholder.com/200x200.png">

    </ion-thumbnail>
    <p>{{current.title}}</p>
    <button ion-button clear item-end>View</button>
  </ion-item>
</ion-list>

    </ion-content>

