<ion-header>
  <ion-navbar>
    <ion-title>
      my app
    </ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

</ion-header>



<ion-content padding>
  <ion-list>
    <ion-item *ngIf="result.length < 1">Aucun résultat</ion-item>
    <ion-item *ngFor="let current of result">
      <ion-thumbnail item-start>
        <img src="http://via.placeholder.com/200x200.png">
      </ion-thumbnail>
      <p>{{current.title}}</p>
      <button ion-button clear item-end (click)="gotodetails(current);">View</button>
    </ion-item>
  </ion-list>

</ion-content>